/* CORE */
body , html{
margin: 0;
}
p,a{
    font-size: 1.1em;
}
header{
    background : #000;
    color : rgb(218,165,32);
}
#main-holder{
width: 85%;
margin: 0 auto;
display: block;
padding-bottom: 100px;
}
#search{
    background : #000;
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px solid rgb(218,165,32); 
    border-radius: 10px ; 
    padding: 20px 10px;
    text-align: right;
}
#content{
width:75%;
display:inline-block;
border-right: 1px solid #000; 
box-sizing: border-box;
padding-right: 20px;
margin-bottom: 40px;
}
#sidebar{
width: 24.5%;
padding : 20px 30px; 
box-sizing: border-box;
vertical-align: top ;
display: inline-block;
background: rgb(218,165,32); 
}
#sidebar article{
	background-color: #41413e;
	color : #fff;
	padding: 10px;
}
footer{
    background: #000;
    color : #fff;
    position: fixed;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 70px;
    text-align: center;
}
footer a{
    color: rgb(218,165,32)
}

@media (max-width: 900px)
{
  #content{
      width : 100%
  }
  #sidebar{
      width : 100%
  }

}

/* STYLE OTHER */

nav {
	margin: 0 0 50px 0;
	background-color: #000;
	box-sizing: border-box;
	padding : 0 20px;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #000;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: rgb(218,165,32);
	color: #000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

